
  .form {
    width: 406px;
    margin: auto;
    margin-left: 550px;
    text-align: center;
  }

  .input {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: .8vw;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 190px;
    transition: .4s;
  }
  
  .input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
  }
  
  .input:focus {
    box-shadow: 0 0 0 .15vw skyblue;
  }


    .icon-btn {
        width: 50px;
        height: 20px;
        border: 1px solid #cdcdcd;
        background: white;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        transition: width 0.2s ease-in-out;
        font-weight: 500;
        font-family: inherit;
      }
      
      .add-btn:hover {
        width: 120px;
      }
      
      .add-btn::before,
      .add-btn::after {
        transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
        content: "";
        position: absolute;
        height: 4px;
        width: 10px;
        top: calc(50% - 2px);
        background: seagreen;
      }
      
      .add-btn::after {
        right: 14px;
        overflow: hidden;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      
      .add-btn::before {
        left: 14px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      
      .icon-btn:focus {
        outline: none;
      }
      
      .btn-txt {
        opacity: 0;
        transition: opacity 0.2s;
      }
      
      .add-btn:hover::before,
      .add-btn:hover::after {
        width: 4px;
        border-radius: 2px;
      }
      
      .add-btn:hover .btn-txt {
        opacity: 1;
      }
      
      .add-icon::after,
      .add-icon::before {
        transition: all 0.2s ease-in-out;
        content: "";
        position: absolute;
        height: 20px;
        width: 3px;
        top: calc(50% - 10px);
        background: seagreen;
        overflow: hidden;
      }
      
      .add-icon::before {
        left: 22px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      
      .add-icon::after {
        right: 22px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      
      .add-btn:hover .add-icon::before {
        left: 15px;
        height: 4px;
        top: calc(50% - 2px);
      }
      
      .add-btn:hover .add-icon::after {
        right: 15px;
        height: 4px;
        top: calc(50% - 2px);
      }